.wholePage {
  height:100vh;
  background-color: #66c9b0;
}

.upGrad1 {
  z-index: 4;
  position: absolute;
  top:10vh;
  width: 100%;
  height: 5vh;
  background-image: linear-gradient(0deg, rgb(110, 74, 26), #00000000);
}

.upGrad2 {
  z-index: 6;
  position: absolute;
  top:17vh;
  width: 100%;
  height: 5vh;
  background-image: linear-gradient(0deg, rgb(82, 17, 17), #00000000);
}

.mainPage {
  width: 100%;
}

.pageAni {
  animation-name: slideIn;
  animation-duration: 0.5s;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
}

@keyframes slideIn {
  0% {transform: translateY(100vh);}

  100% {transform: translateY(0%);}
}

.secondPage {
  z-index: 5;
  position: absolute;
  top:13vh;
  width: 100%;
  height: 100vh;
  background-color: #c9aa66;

}

.thirdPage {
  z-index: 8;
  position: absolute;
  top:20vh;
  width: 100%;
  height: 100vh;
  background-color: #c97566;
}

.resetBtn {
  border: 0px;
  margin-top: 20px;
  border-radius: 20px;
  padding: 20px;
  color: white;
  background-color: maroon;
}

.foodImg {
  max-width: 300px; 
}

.pageBtn {
  padding: 30px;
  color: white;
  background-color: #0f4147;
  border: 0px;
  border-radius: 30px;
}